@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<a asp-area="" asp-controller="Home" asp-action="Contact" class="navbar-brand">Contact</a>

@if(this.User.IsInRole("Member") || this.User.IsInRole("Admin"))
{
    <a asp-area="" asp-controller="CompoundInterest" asp-action="Index" class="navbar-brand">Compound Interest</a>
}

@if(this.User.IsInRole("Admin"))
{
    <a asp-area="" asp-controller="UsersAndRoles" asp-action="Index" class="navbar-brand">Users & Roles</a>
}
