﻿@model ZenithWeb.Models.CompoundInterest

@{
    ViewData["Title"] = "Index";
}

<h2>Compound Interest Calculator</h2>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-8">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PrincipalInvestment" class="control-label">Principal Investment</label>
                    <input asp-for="PrincipalInvestment" class="form-control" />
                    <span asp-validation-for="PrincipalInvestment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InterestRate" class="control-label">Interest Rate</label>
                    <input asp-for="InterestRate" class="form-control" />
                    <span asp-validation-for="InterestRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimesInterestCompounded" class="control-label">Number of times interest is compounded per year</label>
                    <input asp-for="TimesInterestCompounded" class="form-control" />
                    <span asp-validation-for="TimesInterestCompounded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Years" class="control-label">Number of years to invest</label>
                    <input asp-for="Years" class="form-control" />
                    <span asp-validation-for="Years" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Calculate" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Your Compound Interest is:</h2>
        <h1><strong>@ViewData["Result"]</strong></h1>
    </div>
</div>