﻿@model ZenithWeb.Models.ApplicationRole

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete an Existing Role</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Index">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Roles" class="btn btn-primary">Back to Roles</a>
    </form>
</div>
