﻿
@{
    ViewData["Title"] = "Users and Roles";
}

<h2>Users and Roles</h2>

<div class="row">
    <div class="col-md-6">
        <a asp-controller="ApplicationUser" asp-action="Index"><h3>User Roles</h3></a>
        <p>View all users along with their roles. You can also edit a user's role as well as delete it.</p>
    </div>

    <div class="col-md-6">
        <a asp-controller="ApplicationRole" asp-action="Index"><h3>Application Roles</h3></a>
        <p>View all application roles that can be assigned to a user. You can also create, edit, and delete roles.</p>
    </div>
</div>