﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Somewhere Someplace<br />
    Vancouver, BC V1V 1V1<br />
    <abbr title="Phone">P:</abbr>
    604.000.0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">ZenithSupport@zenith.ca</a><br />
</address>
