﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <img src="~/images/ZenithBanner.png" class="img-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Latest Updates</h2>
        <ul>
            <li>
                <a asp-controller="CompoundInterest" asp-action="Index">Compound Interest Calculator</a>
                <p>We are happy to announce our brand new Compound Interest Calculator. Try it today!</p>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <a asp-action="Contact"><h2>Contact Us</h2></a>
        <p>Have any questions or feedback for us?  Please let us know!</p>
    </div>
</div>